.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    height: 80px;
  background-color: #090b13;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 36px;
letter-spacing: 16px;
z-index: 3;
box-sizing: border-box;

}
.logo{
padding: 0;
width: 80px;
margin-top: 4px;
max-height: 700px;
display: inline-block;
font-size: 0;
padding-bottom: 20px;

}
.img{
    display: block;
    width: 100%;

   
}
.navmenu{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-end;
    margin: 0;padding: 0;
    position: relative;
    margin-right: auto;
    margin-left: 25px;

    gap: 20px;

}
.navmenu a{
    
    display: flex;
    padding: 0;
    align-items: center;

}
.navmenu img{
    height: 22px;
    min-width: 20px;
    z-index: auto;
    
    
}
.navmenu span{
    color: rgba(249,249,249);
    font-size: 15px;
    letter-spacing: 1.42px;
    line-height: 1.08;
    padding: 2px 0;
    white-space: nowrap;
    position: relative;
}

.navmenu span::before{
  content: " ";
    background-color: rgba(249,249,249);
    border-radius: 0 0 4px 4px;
    bottom: -4px;
    height: 2px;
    position: absolute;
    right: 0px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    width: auto;
    left: 0px;
} 


.navmenu span:hover::before{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1 !important;

}
.login{
    background-color: rgba(0, 0 , 0, 0.6);
    text-transform: uppercase;
    padding: 8px 16px;
    letter-spacing: 1.5px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    transition: all ease .3s;
    font-weight: 500;
}
.login:hover{
    background-color: white;
    color: black;
   border-color: transparent;
}



.userimg{
    height: 90%;
    border-radius: 50%;
}

.signoutbutton{
    position: absolute;
    top:40px;
    right: -2px;
    background-color: black;
    border: 1px solid rgba(151 , 151, 151, 0.34);
border-radius: 4px;
box-shadow: rgb( 0 0 0 / 50%) 0px 0px 18px 0px;
padding: 10px;
font-size: 14px;
letter-spacing: 2px;
width: 100px;
opacity: 0;
}
.signout{
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    border-radius: 50%;
}
.signout:hover .signoutbutton{
    opacity: 1;
    transition-duration:1s;

}









/* @media (max-width: 768px) {
    .navmenu {
      display: none;
    }
  } */