.container{

margin-top: 30px;
padding: 30px 0 26px;
display: grid;
grid-gap: 25px;

grid-template-columns: repeat(5, minmax(0, 1fr)) ;
}

.wrap{
    padding-top:56.25%;
    border-radius: 10px;
    box-shadow: rgb(0 0 0/ 69%) 0px 26px 30px 10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
cursor: pointer;
overflow: hidden ;
position: relative;
transition: all 250ms cubic-bezier(0..25, 0.46, 0.94) 0s ;
border: 3px solid rgba(249 ,249 , 249, 0.1);
/* background-color: red; */
/* transition: ease-in 0.3s; */
}
.wrap img{
    inset: 0px;
    display: block;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    /* background-color: yellow; */
    z-index: 1;
}
.wrap img:hover {

    
}



.wrap  video{
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 0;
}
.wrap:hover  {
  
  border-color: rgba(249 ,249 , 249, 0.8);
    transform: scale(1.05);
}
.wrap:hover  video{
  /* border: 4px solid white; */
    opacity: 1;
    /* padding: 50px; */
}

@media (max-width: 768px){
    .container{
grid-template-columns: repeat(1, minmax(0, 1fr)) ;

    }
}